
.bg-section h2 {
    color: #083d77;        
}

.bg-section p {
    color: #083d77;        
}

.enroll-page h2 {
    color: #083d77;
}

.enroll-page p {
    color: #6c757d;
}

.card {
    border-radius: 6px;
}

footer {
    font-size: 14px;
}
